header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
}

footer ul li {
    
}